/* ===============================
          Default Theme
 ---------------------------------
 Fonts:Teko & Jost
 --------------------------------
 Colors:
 -------------------------------
     Vermillion: #eb2411;
     Cyber Yellow: #ffd416;
     Carolin Blue: #1da2f5;
     black: #000;
     white: #fff;
==================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*================================
  |   |  Html, Body
  ================================*/
html,
body {
  height: 100%;
}

body {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
}

p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

/*================================
        Buttons
  ================================*/
.btn-general {
  font-family: "Teko", sans-serif;
  background-color: #ffd416;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*================================
     Home
  ================================*/
body {
  background-image: url(../images/backimage/beatiful\ tree.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#home {
  background: transparent;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}
#demo {
  color: #ffd416;
  font-weight: bold;
  font-size: 1.2em;
}
form {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 50px;
  overflow: hidden;
  border-radius: 10px;
}

form h5 {
  color: #fff;
}

input {
  background-color: rgb(255, 254, 254);
  width: 200px;
  display: inline-block;
}

input:focus {
  outline: none;
}

#sign {
  width: 60px;
  font-size: 1em;
}

#sign:hover {
  background-color: #fff;
}
#back a {
  color: #f6f8f6;

  font-size: 1.1em;
  font-weight: 400;
}
#last {
  color: #ffd416;
  font-weight: 500;
  font-size: 1.1em;
}
#last-1 {
  color: #f8f6f5;
  font-weight: 500;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 3px 8px;
}
#last-1 a {
  color: rgb(6, 243, 6);
}
@media (max-width: 568px) {
  form {
    width: 300px;
    height: 475px;
    padding: 5px 50px;
  }
  #home {
    background: transparent;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
  }
  #logform {
    width: 300px;
    height: 270px;
    padding: 5px 50px;
  }
  #last {
    font-size: 1em;
  }
  #last-1 {
    font-size: 1em;
  }
}

/* Login.html*/
#log {
  background-image: url(../images/backimage/view.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
#log-home {
  background: transparent;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}
